<app-top-bar></app-top-bar>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Customer #</th>
      <th scope="col">Loan #</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Loan Submitted Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td><a class="highlight" routerLink="/inprogress">@mdo</a></td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>Mark</td>
      <td>Otto</td>
      <td><a class="highlight" routerLink="/inprogress">@mdo</a></td>
    </tr>
    <tr>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>Mark</td>
      <td>Otto</td>
      <td><a class="highlight" routerLink="/inprogress">@mdo</a></td>
    </tr>
  </tbody>
</table>

