<app-top-bar></app-top-bar>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Customer #</th>
      <th scope="col">Loan #</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Loan Submitted Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customerDetail of customerDetails; let index= index">
      <td>{{customerDetail.cust_id}}</td>
      <td>{{customerDetail.loan_id}}</td>
      <td>{{customerDetail.first_name}}</td>
      <td>{{customerDetail.last_name}}</td>
      <td>{{customerDetail.loan_submitted_date | date: 'fullDate'}}</td>
      <td><a class="highlight" (click)="getDetails(customerDetail.cust_id, customerDetail.loan_id)">{{customerDetail.status}}</a></td>
    </tr>

  </tbody>
</table>

