<form #f=ngForm>
    <div class="container mt-4">
        <div class="card card-body shadow p-3 mb-4 rounded">
            <div class="row">
              <div class="col-md-6">
                <span class="text-left text-capitalize heading">
                  <h3 style="color: #00aae7">View Status</h3>
                </span>
              </div>
            </div>
              <div class="col-md-6">
                <span class="small text-muted">Customer ID</span>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Customer ID" name="custid"
                    ngModel readonly>
                </div>
              </div>

              <div class="col-md-6">
                <span class="small text-muted">Loan ID</span>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Last Name" name='loanid'
                   ngModel readonly>
                </div>
              </div>

                  <div class="row pl-2">
                      <button type="submit" class="btn btn-secondary" style="float: right"
                       >Submit</button>
                   </div>

                </div>

              </div>
              </form>




