<div class="container pt-4">
  <div class= "row">
      <div class="col-md-6">
        <div class="desc-a">
          <h3 class="title">Customer Information</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="desc-b">
          <h3 class="title">Credit Score</h3>
        </div>
        <div class="desc-c">
          <h3 class="title">Report</h3>
          <button type="submit" class="btn btn-secondary text-right" (click)= "onSubmit()">Submit</button>
        </div>

      </div>
  </div>
</div>
